kmod_compile_exclude_list=kmod-shortcut-fe-cm,kmod-shortcut-fe,kmod-fast-classifier,kmod-fast-classifier-noload,kmod-shortcut-fe-drv,kmod-r8125,kmod-qmi_wwan_f,kmod-rtl8189es,kmod-qmi_wwan_q,kmod-r8101,kmod-gobinet,kmod-pcie_mhi,kmod-r8168,kmod-usb-net-rtl8152-vendor,kmod-sprd_pcie,kmod-ipt-wgobfs,kmod-rkp-ipid,kmod-rxrpc,kmod-rtl8188eu,kmod-rtl8812au-ac,kmod-rtl8192eu,kmod-pf-ring,kmod-mdio-netlink,kmod-aic8800,kmod-aic8800s,kmod-aic8800u
