#FILE-MANAGE组件
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_luci-app-vsftpd=y
# CONFIG_PACKAGE_vsftpd is not set
CONFIG_VSFTPD_USE_UCI_SCRIPTS=y
CONFIG_PACKAGE_vsftpd-tls=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y

#DOCKER组件
#CONFIG_PACKAGE_luci-app-dockerman=y
#CONFIG_PACKAGE_dockerd=y
#CONFIG_DOCKER_CHECK_CONFIG=y
#CONFIG_DOCKER_CGROUP_OPTIONS=y
#CONFIG_DOCKER_OPTIONAL_FEATURES=y

#CONFIG_DOCKER_NET_OVERLAY=y
#CONFIG_DOCKER_NET_ENCRYPT=y
#CONFIG_DOCKER_NET_MACVLAN=y
#CONFIG_DOCKER_NET_TFTP=y

#CONFIG_DOCKER_STO_DEVMAPPER=y
#CONFIG_DOCKER_STO_EXT4=y
#CONFIG_DOCKER_STO_BTRFS=y

#DOCKER组件END



#autoset组件
CONFIG_PACKAGE_autoset=y
CONFIG_PACKAGE_autoset_INCLUDE_filesystem=y
CONFIG_PACKAGE_autoset_INCLUDE_usb_storage=y
CONFIG_PACKAGE_autoset_INCLUDE_temperature_script=y

#dnsmasq-full组件
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
# CONFIG_PACKAGE_dnsmasq_full_broken_rtc is not set
CONFIG_PACKAGE_dnsmasq_full_tftp=y

#iptables组件
#CONFIG_PACKAGE_iptables-nft=y
#CONFIG_PACKAGE_ip6tables-nft=y

CONFIG_PACKAGE_ip6tables-zz-legacy=y
CONFIG_PACKAGE_iptables-zz-legacy=y
CONFIG_PACKAGE_firewall=y
# CONFIG_PACKAGE_firewall4 is not set

#openssl组件
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_PACKAGE_libustream-mbedtls is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_libmbedtls is not set

#kmod network 组件
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-ebtables=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-offload=y

CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-l2tp=y

CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-ppp-synctty=y
CONFIG_PACKAGE_kmod-pppoa=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=y

CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y

CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tcp-hybla=y
CONFIG_PACKAGE_kmod-tcp-scalable=y

CONFIG_PACKAGE_kmod-wireguard=y

#  network firewall 组件
CONFIG_PACKAGE_miniupnpd-iptables=y
CONFIG_MINIUPNPD_IGDv2=y
# CONFIG_PACKAGE_miniupnpd-nftables is not set
CONFIG_PACKAGE_xtables-legacy=y
CONFIG_PACKAGE_ebtables-legacy=y
CONFIG_PACKAGE_ebtables-legacy-utils=y

CONFIG_PACKAGE_iptables-mod-fullconenat=y

CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

CONFIG_PACKAGE_iptables-mod-tproxy=y


